.TodoItem {
  background-color: var(--background-color-30);
  color: var(--text-color-10);
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  position: relative;
}

.TodoItem-options {
  background-color: transparent;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 5px;
}

.TodoItem-options:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.TodoItem > img {
  width: 30px;
}

.TodoItem-text {
  margin: 0 auto 0 10px;
}

.TodoItem-success::before {
  content: '';
  position: absolute;
  left: 0;
  right: 45px;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  background-color: red;
}
