.dark {
  --text-color-10: #f8fafc;
  --text-color-20: #64748b;
  --text-color-30: #0f172a;
  --background-color-10: #111827;
  --background-color-20: #1e293b;
  --background-color-30: #334155;
  --background-color-40: #475569;
}
