.ModalContent {
}

.ModalContent > h2 {
  margin: 0 0 15px;
  text-align: center;
}

.ModalContent-control {
  display: flex;
  justify-content: space-between;
}

.ModalContent-date {
  text-align: end;
  color: var(--text-color-20);
  margin: 10px 0;
}
